label {
  color: #fff;
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  margin: auto;
  max-width: 600px;
}

.form h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 800px;
  color: #fff;
  margin: auto;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 10px 8 px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  color: #f4f4f4;
}
